.app-loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 42px;
}
// .saltoris-logo[data-account-type="BUYER"] {
//     background-image: url("../images/deil-logo.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 150px;
//     height: 42px;
// }
// .saltoris-logo[data-account-type="SUPPIER"] {
//     background-image: url("../images/saltoris.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 150px;
//     height: 42px;
// }