.card-component-wrapper {
    background-color: white;
    box-shadow:0 1px 3px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
    padding: 15px;
    padding-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    
    .card-wrapper-title {
        font-size: 14px;
        color: black;
        font-weight: bold;
        // margin-bottom: 20px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        height: 50px;
        padding-top: 10px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        .ant-btn{
            border: 0;
            outline: none;
            box-shadow: none;
            padding-bottom: 0;
            padding-top: 0;
            height: 20px;
           
        }
        .remove-button {
            position: absolute;
            top: -8px;
            right: -1px;
            z-index:1;  
            width: 20px;
            height: 20px;
            background-color:  red;
            color: white;
            border-radius: 50%;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .replicate-button {
            position: absolute;
            top: -8px;
            right: -23px;    
            width: 20px;
            height: 20px;
            background-color: #0062FF;
            color: white;
            border-radius: 50%;
            font-weight: 600;   
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    .card {
        background-color:#FAFAFB;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        display: flex;  
        width: 100%;
        transition: 0.3s all; 
        position: relative;
        .image {
            background-color: gray;
            min-width: 38px;
            height: 38px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .card-content {
            min-width: 230px;
            position: relative;
            div:nth-child(1) {
                color: grey;
                font-size: 10px;
                position: absolute;
                top: 0;
                right: 0;
            }
            div:nth-child(2) {
                color: #0062FF;
            }
            div:nth-child(3) {
                color: #171725;
                font-weight: 600;
                margin-bottom: 4px;
            }
            div:nth-child(4) {
                color: #92929D;
            }
        }
        span[role="img"] {
            position: absolute;
            top: 4px;
            left: 2px;
        }
    }
    .card-wrapper {
        width: 100%;
        overflow-x: hidden;
        transition: 0.3s all;
        display: flex;
        .mark-option {
            width: 0%;
            display: none;
            background-color: #3e3a3a;
            transition: 0.3s all;
            margin-bottom: 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
           // display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
           // right: -61px;
            .ant-space-vertical {
                gap:3px !important;
            }
            .ant-radio-input:focus + .ant-radio-inner{
                box-shadow: none !important;
            }
            .ant-radio-wrapper {
                color: white;
                font-size: 12px;
                .ant-radio-inner{
                    width: 13px;
                    height: 13px;
                }
                .ant-radio-inner::after {
                    width: 13px;
                    height: 13px;
                    margin-top: -6.5px;
                    margin-left: -6.5px;
                }
            }
        }
    }
    .card-wrapper:hover {
        transition: 0.3s all;
        .card {
            width: 70%;
            background-color: #F2F7FF;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .mark-option {
            width: 30%;
            right:0;
            display: flex;
            transition: 0.3s all;
        }
    }
}
.card-component-wrapper[data-componentdontexist="true"]{
    opacity: 0.3;
    pointer-events: none;
    border: 1px solid grey;
}

.ant-popover-inner-content {
    .card-misc-option {
        width: 75px;
        p:hover, p[data-status="true"] {
            font-weight: bold;
            cursor: pointer;
        }
        .reset-option {
            color: #3B6BFD;
            font-weight: normal !important;
            text-decoration: underline;
            &[data-status="false"] {
                cursor: not-allowed;
                color: lightgray;
                text-decoration: unset;
            }
        }
    }
   
}