@mixin default-template() {
  
    margin: auto;
  
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px #dcd6d6;
    .form-body-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
    }
    .form-title {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        div{
            color: #BEBFC6;
            font-size: 13px;
        }
        div:last-child {
            color: black;
            font-size: 22px;
            font-weight: bold;
        }
    }
    .field {
        margin-top: 20px;
    }
    .field {
        >input , >textarea {
            padding: 10px 10px 10px 10px;
            border-radius: 10px;
        }
        .ant-input-affix-wrapper {
            border-radius: 10px;
            .ant-input-prefix  {
                margin-right: 10px;
            }
            input  {
                padding: 7px 0px 7px 0px;
            }
        }
        .ant-select{ 
            width: 100%;
            .ant-select-selector{
                border-radius: 10px;
                height: 100%;
            }
        }
        .ant-slider {
            width: 100%;
        }
        &[data-template*="no-border"] {
            >input , >textarea,  .ant-input-affix-wrapper, .ant-picker {
                border: 0;
                border-radius: 0;
            }
            .ant-select{
                .ant-select-selector{
                    border: 0;
                    border-radius: 0;
                }
            }
        }
        &[data-template*="no-padding"] {
            >input , >textarea,  .ant-input-affix-wrapper, .ant-picker {
                padding: 0;

            }
            .ant-select{
                .ant-select-selector{
                    padding: 0;
                }
            }
        }
    }
    .file-input-box {
        height: 32px;
        border: 1px solid #d9d9d9;
        padding: 0 12px 0 12px;
        border-radius: 8px;
    }
    .file-input-box[disabled] {
        background: #f5f5f5;
        &::placeholder{
            color: rgba(0, 0, 0, 0.25);
        }
    }
    .field[type="date_time"] {
        .wrapper {
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
            .hr {
                position: absolute;
                right: 0;
                z-index: 0;
            }
            .mm {
                position: absolute;
                right: -10px;
                z-index: 0;
            }
            input{
                background-color: transparent;
                z-index: 1;
            }
           
        }
        .ant-picker {
            width: 50%;
            margin-right: 21px;
            .ant-picker-input{
                width: 100%;
            }
        }
       
        .time-box {
            width: 44px;
          //  margin-left: 10px;
            border: 1px solid transparent;
            &::placeholder {
               color: rgb(189, 186, 186);
            }
        }
    }
    .field[type="text-area"]{
        align-items: baseline;
    }
    .field[type="button"] {
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .field[type="file"] {
        .selected-file-name {
            margin-left: 15px;
            max-width: 400px;
            line-height: 1.5;
            >div{
                display: flex;
                align-items: center;
            }
        }
        .selected-file-name[disabled] {
            color: lightgray;

        }
        .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
            margin-right: 14px;
            width: 200px;
            .ant-checkbox-inner {
                width: 25px;
                height: 25px;
            }
            .ant-checkbox-inner::after {
                width: 7.714286px;
                height: 12.142857px;
            }
            .ant-checkbox {
                top: 0;
            }
        }
        .image-preview {
            width: 100px;
            height: 100px;
            border: 3px solid #3B6BFD;
            border-radius: 50%;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background-position: center !important;
            margin-right: 14px;
        }
        .image-preview[disabled] {
            border: 3px solid lightgray;
            filter: grayscale(100%);
        }
        &[data-template="box-preview"]{
            margin: 10px;
            .field-button-wrapper {
                justify-content: center;
                flex-direction: column;
                width: 100%;
            }
            .select-image-box {
                width: 80px;
                height: 80px;
                border: 1px dotted black;
                background-color:  rgb(70, 69, 69);
                color:  white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: bold;
                border-radius: 10px;
            }
            .image-preview {
                border-radius: 5px;
                width: 100px;
                height: 100px;
                border-width: 0px;
                margin-right: 0;
            }

        }
    }
    .field[type="popup"] {
        align-items: center;
        button {
            padding: 3px 14px;
        }
        .i-icon{
            margin-right: 10px;

        }
    }
    .field[data-validated="false"] {
        >input,
         textarea, 
         .ant-input-affix-wrapper, 
         .ant-picker, .ant-checkbox-inner, 
         .ant-radio-inner {
            // border-color: red;
            border: 1px solid red !important;
            border-radius: 10px !important;
        }
        iframe[title="reCAPTCHA"]{
            border: 2px solid red !important;
            border-radius: 10px !important;
        }
    }
    .field[data-validated="true"] {
        .ant-checkbox-inner, 
        .ant-radio-inner {
            border-color: #d9d9d9;
        } 
    }
    .field-label {
        min-width: 150px;
        max-width: 150px;
        align-items: center;
        display: flex;
        color: #44444F;
        span, svg {
            margin-right: 10px;
            cursor: default;
            path {
                fill: black;
            }
        }
    }
    .ant-picker {
        width: 100%;
        height: 44px;
        border-radius: 10px;
    }
    .ant-radio-group {
        display: flex;
        align-items: center;
    }
    .field-extra-detail {
        font-size: 12px;
        margin-top: 3px;
        color: grey;
        font-style: italic;
        span {
            margin: 0 4px 0 4px
        }
    }
    .field[type="reaptcha"]{
        .g-recaptcha {
            >div {
                margin: auto
            }
        }
        iframe[title="reCAPTCHA"]{
            border: 2px solid black;
            border-radius: 10px !important;
        }
    }
    .field[data-reviewstate="true"]{
        margin-top: 0 !important;
        input, .ant-picker-disabled, .ant-input-disabled {
            background-color: white !important;
            color: black;
        }
        input[class*="ant-picker-disabled"],input[class*="ant-input-disabled"] {
            height: 30px !important;
            border: 0 !important;
            padding: 0 !important;
        }
        .ant-picker-disabled {
            height: 30px !important;
            border: 0 !important;
            padding: 0 !important;
        }
        .field-label {
            // min-width: 225px ;
            // max-width: 225px ;
        }
    }
    
}
.form-component {
    &[data-template="default-template"] {
        @include default-template()
    }
    &[data-template*="table-search-popup"] {
        @include default-template();
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 200px !important;
        z-index: 1;
        position: absolute;
        top: -5px;
        right: 39px;
        .field {
            margin-top: 0;
            height: 32px;
            width: 100% !important;
        }
        .ant-select {
            max-width: unset !important;
        }
        .form-body-wrapper { 
            justify-content: flex-end;
        }
    }
    &[data-template*="login-form"] {
        @include default-template();
        background-color: white;
        top: -10vw !important;
        .field {
            .ant-input-affix-wrapper {
                border-radius: 0 !important;
            }
            .ant-checkbox-wrapper {
                font-size: 12px;
                margin-bottom: 10px
            }
            svg[class="address-icon"] {
               path {
                stroke: rgb(146, 146, 157) !important
               }
            }
        }
    }
    &[data-template*="less-padding"] {
        @include default-template();
        &.form-component {
            padding-top: 0;
            padding-bottom: 12px;
            .field{
                margin-top: 12px;
            }
        }
    }
    &[data-template*="template-1"] {
        @include default-template();
        .field {
            margin-top: 10px;
            .field-label {
                min-width: 45px;
            }
            &[data-key="product_title"] {
                input  {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .field:nth-child(1) {
            margin-top: 0px;
        }
        .ant-picker {
            .ant-picker-input {
                width: 15%;
            }
         //   width: 15px;
        }
        .ant-picker {
            height: 30px;
        }
    }
    &[data-template*="table-filter-popup"] {
        @include default-template();
        &.form-component {
            padding: 0;
            .form-body-wrapper {
                .field:nth-child(1) {
                    margin-top: 5px;
                }
                .field[type="text"]{
                    input {
                        padding: 5px 10px 5px 10px;
                    }
                }
            }
        }
        .ant-picker {
            height: 33px;
        }
    }

    &[data-template*="no-box-shadow"] {
        &.form-component {
           box-shadow: none;
        }
    }
    &[data-template*="tran-title"] {
        .form-wrapper-title  {
            background-color: transparent !important;
        }
    }
    &[data-template*="no-min-width-label"] {
        .field-label {
            min-width: unset !important;

        }
    }
}
.ant-dropdown-menu-title-content {
    >div[data-active="true"] {
        font-weight: bold;
    }
}
.ant-picker-header-view {
    display: flex;
    justify-content: center;
}
.ant-picker-dropdown, .ant-dropdown {
    z-index: 10000;
}