.widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    .widget-title {
        font-weight: bold;
        position: relative;
        width: 100%;
        display: flex;
    }
    .remove-button {
        position: absolute;
        top: -23px;
        right: 0;    
        width: 20px;
        height: 20px;
        background-color:  red;
        color: white;
        border-radius: 50%;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-bottom: 2px;
    }
    .replicate-button {
        position: absolute;
        top: -23px;
        right: -23px;    
        width: 20px;
        height: 20px;
        background-color: #0062FF;
        color: white;
        border-radius: 50%;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-bottom: 2px;
        padding-left: 1px;
    }
    .replicate-button:active {
        top: -22px;
    }
    .ant-select {
        width: auto;
        min-width: 80px;
        height: auto;
        max-width: 239px;
        // border-left: 1px solid #beb8b8;
        .ant-select-selector {
            background: #FAFAFB;
           // border-radius: 20px;
            border: 0;
            font-size: 12px;
            font-weight: normal !important;
        }
        .ant-select-arrow {
            font-size: 10px;
        }
    }
    .change-status-wrapper {
        margin-right: 15px;
        .ant-select {
            .ant-select-selector {
                border-radius: 10px;
                background-color: white;
                border: 1px solid lightgray;
              
            }
            &:not([class*="ant-select-disabled"]) {
                .ant-select-selector {
                    border-color: #aca3a3;
                }
            }
        }
    }

    .tab-wrapper {
        margin-bottom: 0;
        font-weight: normal;
        width: unset !important;
    }
}
.magnify-popup {
    width: 100% !important;

    .ant-modal-body {
        height: auto !important;
        >div{
            margin: 0 auto  ;
        }
    }
}
.download-popover {
    .title{
        font-size: 12px;
        margin-bottom:1px;
        font-weight: bold;
    }
    .option {
        font-size: 12px;
        cursor: pointer;
    }
    .option:hover{
        background-color: #e6f7ff;
    }
}