.i-icon {
    background: #3963E8;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        line-height: 1;
        font-size: 12px;
    }
}
.home-icon {
    path{
        fill: transparent !important
    };
}