.ant-modal{ 
    .ant-modal-body {
        height: 680px !important; 
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        .modal-image {
            width: 100%;
            height: inherit;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            margin-top: 20px !important;
            span {
                font-size: 14px;
                position: relative;
                top: -27px;
            }
        }
         .ant-modal-content {
            overflow-y: auto;
        }
    }
    &.generate-report-modal {
        .ant-modal-body{
            height: 200px !important; 
        }
        .form-component {
            box-shadow: unset;
            padding: 0;
            .field {
                .field-label {
                    min-width: unset;
                }
            }
        }
        .ant-select, .ant-radio-group{
            margin-left: 10px;
        }
        .ant-picker { 
            height: 37px;
            margin-left: 10px;
        }
        .ant-select-selector {
            border-radius: 10px;
        }
    }
}