.ant-modal{ 
    .ant-modal-body {
        height: 680px !important; 
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        .modal-image {
            width: 100%;
            height: inherit;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            margin-top: 20px !important;
            span {
                font-size: 14px;
                position: relative;
                top: -27px;
            }
        }
         .ant-modal-content {
            overflow-y: auto;
        }
    }
    &.generate-report-modal {
        .ant-modal-body{
            height: 200px !important; 
        }
        .form-component {
            box-shadow: unset;
            padding: 0;
            .field {
                .field-label {
                    min-width: unset;
                }
            }
        }
        .ant-select, .ant-radio-group{
            margin-left: 10px;
        }
        .ant-picker { 
            height: 37px;
            margin-left: 10px;
        }
        .ant-select-selector {
            border-radius: 10px;
        }
    }
    &.table-detail-modal {
        width: unset !important;
    }
    .ant-modal-footer {
        .ant-btn-primary{
            background-color: #3b6bfd;
            border-radius: 5px;
        }
    }
}
.ant-modal-content {
    .table-wrapper {
        overflow: inherit;
    }
}
.field-popup {
    width: 65% !important;
    top: 20px;
    // z-index: 1000;
    .ant-modal-confirm-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .ant-modal-confirm-body-wrapper {
        width: 100%;
        .ant-modal-confirm-btns {
            display: none !important;
            button[disabled] {
                display: none !important;
            }
        }
    }
    .button-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        button {
            margin-left: 5px;
        }
    }
    .track-button {
        position: absolute;
        top: 29px;
        right: 29px;
    }
}
.po-detailed-view {
    width: 100%;
    .company-logo {
        width: 100%;
        height: 100%;
        background-color: grey;
        border-radius: 3px;
        margin: auto;
    }
    .display-flex {
        display: flex;
        width: 100%;
    }
    .block {
        border: 1px solid black;
        padding: 10px;
    }
    .width-50 {
        width: 50%;
    }
    .width-30 {
        width: 30%;
    }
    .width-70 {
        width: 70%;
    }
    .width-20 {
        width: 20%;
    }
    .width-80 {
        width: 80%;
    }
    .width-9 {
        width: 9%;
    }
    .width-90 {
        width: 90%;
    }
    .width-100 {
        width: 100%;
    }
    .m-left-14 {
        margin-left: 14px;
    }
    .block-title {
        font-size: 22px;
        display: flex;
        width: 100%;
        justify-content: center;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .justify-content-end {
        justify-content: flex-end;
    }
    .section-title {
        font-size: 13px;
        font-weight: bold;
    }
    .no-border-top {
        border-top: 0;
    }
    .no-border-bottom {
        border-bottom: 0;
    }
    .no-border-right {
        border-right: 0;
    }
    .no-border-left {
        border-left: 0;
    }
    .no-padding {
        padding: 0;
    }
}
.magnify-popup {
    width: 100% !important;

    .ant-modal-body {
        height: auto !important;
        >div{
            margin: 0 auto  ;
        }
    }
    .ant-modal-close-x {
        display: none;
    }
}