.table-wrapper {
   // margin-top: 20px;
    .ant-table {
        font-size: 12px;
        .ant-table-header {
            &.ant-table-sticky-holder {
                top: 3.819vw !important;
            }
        }
        .ant-table-cell {
            vertical-align: baseline;
            .ant-tag {
                border-radius: 10px;
            }
            .ant-table-column-sorters  {
                align-items: baseline;
            }
            >div[data-template="button"] {
                border-radius: 5px;
                min-width: 77px;
                max-width: 77px;
                color: white;
                font-size: 12px;
                font-weight: normal;
                padding: 3px 5px 3px 5px;
                cursor: pointer;
                position: relative;
                display:flex;
                align-items: center;
                justify-content: center;
                background-color: #3B6BFD;
                border: 1px solid #3B6BFD;
                svg {
                    margin: 0 10px 0 5px;
                    path {
                        fill: white;
                    }
                }

            }
            >div[data-template="button"]:active {
                top: 1px;
            }
        }
    }
}
.popover-button-wrapper {
    padding: 0;
    border: 0;
}
.table-column-icon {    
    background-image: url("../images/table-column.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: relative;
    top: -3px;
}